@charset "UTF-8";

body {
  margin: 20px 150px;
  font-family: "Optima", "Nu Sans", "Arial", sans-serif;
}

a:link {
	color: #005585;
}

a:visited {
	color: #485270;
}

a:hover {
	color: #b83800;
}

blockquote {
  font-style: italic;
  background: url('img/quote.png') no-repeat no-repeat;
  padding: 10px 20px;
}

pre {
  padding: 8px;
  background-color: #eee;
  line-height: normal;
  white-space: pre-wrap;
}

dl {
  margin-left: 20px;
}

#header {
  font-size: 40px;
}

#header h1 {
  margin: 0;
  height: 89px;
}

#header h1 .title {
  font-size: 40px;
  font-weight: bold;
}

#catch-copy {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  margin: 15px 0;
}

.member img {
  float: right;
}

#footer {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px black solid;
}

.copyright .small-logo {
  height: 30px;
  width: 100px;
  vertical-align: bottom;
}
