@charset "UTF-8";

body {
  margin: 30px 150px;
  font-family: "Optima", "Nu Sans", "Arial", sans-serif;
}

a:link {
	color: #005585;
}

a:visited {
	color: #485270;
}

a:hover {
	color: #b83800;
}

h1 {
  font-size: 50px;
}

#catch-copy {
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

.member img {
  float: right;
}

#footer {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px black solid;
}
